server:
  port: 5555

spring:
  application:
    name: gatewayserver
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#        RemoveRequestHeader: Cookie,Set-Cookie


eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"



#  cloud:
#    gateway:
#      routes:
#        - id: dealsservice
#          uri: lb://dealsservice
#          predicates:
#            - Path=/deals/**
#        - id: companiesservice
#          uri: lb://companiesservice
#          predicates:
#            - Path=/companies/**