server:
  port: 8085

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      #      defaultZone: http://localhost:8761/eureka/
      defaultZone: http://localhost:8761/eureka/

resilience4j.circuitbreaker:
  instances:
    companiesService:
      registerHealthIndicator: true
      ringBufferSizeInClosedState: 5
      ringBufferSizeInHalfOpenState: 3
      waitDurationInOpenState: 20000
      failureRateThreshold: 20

resilience4j.thread-pool-bulkhead:
  instances:
    bulkheadCompaniesService:
      maxThreadPoolSize: 1
      coreThreadPoolSize: 5
      queueCapacity: 10