version: '2.1'

volumes:
  postgres_local:
    driver: local

services:

  database:
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "equify_db"
    volumes:
      - ./equify_db.sql:/docker-entrypoint-initdb.d/equify_db.sql
#      - ./data.sql:/docker-entrypoint-initdb.d/2-data.sql
    networks:
      backend:
        aliases:
          - "database"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  eurekaserver:
    image: equify/eureka-server:0.0.1-SNAPSHOT
    ports:
      - "8761:8761"
    depends_on:
      database:
        condition: service_healthy
#      configserver:
#        condition: service_started
    networks:
      backend:
        aliases:
          - "eurekaserver"

  configserver:
    image: equify/config-server:0.0.1-SNAPSHOT
    ports:
      - "8888:8888"
    depends_on:
#      database:
#        condition: service_healthy
      eurekaserver:
        condition: service_started
    command: sh -c "/wait && java -jar /app.jar"
    environment:
      - ENCRYPT_KEY=fje83Ki8403Iod87dne7Yjsl3THueh48jfuO9j4U2hf64Lo
#      - WAIT_BEFORE_HOSTS=5
      - WAIT_HOSTS=eurekaserver:8761
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=5
      - WAIT_HOST_CONNECT_TIMEOUT=30
    networks:
      backend:
        aliases:
          - "configserver"

  dealsservice:
    image: equify/deals-service:0.0.1-SNAPSHOT
    ports:
      - "8180:8080"
    depends_on:
      database:
        condition: service_healthy
      configserver:
        condition: service_started
      eurekaserver:
        condition: service_started
    command: sh -c "/wait && java -jar /app.jar"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8761/eureka/
#      CONFIGSERVER_PORT:   "8888"
#      DATABASESERVER_PORT: "5433"
      ENCRYPT_KEY: fje83Ki8403Iod87dne7Yjsl3THueh48jfuO9j4U2hf64Lo
      WAIT_BEFORE_HOSTS: 20
      WAIT_HOSTS: configserver:8888
      WAIT_HOSTS_TIMEOUT: 300
      WAIT_SLEEP_INTERVAL: 2
      WAIT_HOST_CONNECT_TIMEOUT: 20
    networks:
      backend:
        aliases:
          - "dealsservice"

  companiesservice:
    image: equify/companies-service:0.0.1-SNAPSHOT
    ports:
      - "8085:8085"
    depends_on:
      database:
        condition: service_healthy
      configserver:
        condition: service_started
      eurekaserver:
        condition: service_started
    command: sh -c "/wait && java -jar /app.jar"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
#      CONFIGSERVER_URI: "http://configserver:8888"
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8761/eureka/
      #      EUREKASERVER_URI: "http://eurekaserver:8761/eureka/"
#      CONFIGSERVER_PORT:   "8888"
#      DATABASESERVER_PORT: "5433"
      ENCRYPT_KEY: fje83Ki8403Iod87dne7Yjsl3THueh48jfuO9j4U2hf64Lo
      WAIT_BEFORE_HOSTS: 25
      WAIT_HOSTS: dealsservice:8080
      WAIT_HOSTS_TIMEOUT: 300
      WAIT_SLEEP_INTERVAL: 2
      WAIT_HOST_CONNECT_TIMEOUT: 20
    networks:
      backend:
        aliases:
          - "companiesservice"

  gatewayserver:
    image: equify/gateway-server:0.0.1-SNAPSHOT
    ports:
      - "5555:5555"
    depends_on:
      database:
        condition: service_healthy
      configserver:
        condition: service_started
      eurekaserver:
        condition: service_started
      dealsservice:
        condition: service_started
      companiesservice:
        condition: service_started
    command: sh -c "/wait && java -jar /app.jar"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8761/eureka/
      ENCRYPT_KEY: fje83Ki8403Iod87dne7Yjsl3THueh48jfuO9j4U2hf64Lo
      #      EUREKASERVER_PORT: "8070"
      #      CONFIGSERVER_PORT: "8071"
      WAIT_BEFORE_HOSTS: 30
      WAIT_HOSTS: companiesservice:8085
      WAIT_HOSTS_TIMEOUT: 300
      WAIT_SLEEP_INTERVAL: 2
      WAIT_HOST_CONNECT_TIMEOUT: 20
    networks:
      backend:
        aliases:
          - "gatewayserver"


# AUTHENTICATION SECTION
#
#  postgres:
#    image: postgres
#    volumes:
#      - postgres_local:/var/lib/postgresql/data
#    environment:
#      POSTGRES_DB: keycloak
#      POSTGRES_USER: keycloak
#      POSTGRES_PASSWORD: keycloak
#    networks:
#      backend:
#        aliases:
#          - "postgres"
#
#  keycloak:
#    image: quay.io/keycloak/keycloak:latest
#    environment:
#      DB_VENDOR: POSTGRES
#      DB_ADDR: postgres
#      DB_DATABASE: keycloak
#      DB_USER: keycloak
#      DB_SCHEMA: public
#      DB_PASSWORD: keycloak
#      KEYCLOAK_USER: admin
#      KEYCLOAK_PASSWORD: admin
#      # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
#      #JDBC_PARAMS: "ssl=true"
#    ports:
#      - 8080:8080
#    depends_on:
#      - postgres
#    networks:
#      backend:
#        aliases:
#          - "keycloak"

networks:
  backend:
    driver: bridge
